<a href="/">
    <img src="./assets/logo.png" alt="" height="120px">
</a>

<nav class="nav nav-tabs">
    <a class="nav-link" routerLink="/user/login">התחבר</a>
    <a class="nav-link" routerLink="/shared/mail">מייל</a>
    <a class="nav-link" routerLink="/user/payment">pay</a>
    <a class="nav-link" routerLink="/user/coupon">קנה קופון</a>
    <a class="nav-link" routerLink="/shared/products">משחקים</a>
    <a class="nav-link" routerLink="/shared/products">בגדים</a>
    <a class="nav-link" routerLink="/shared/products">אקססוריז</a>
    <a class="nav-link" routerLink="/shared/products">בית ספר</a>
    <a class="nav-link" routerLink="/shared/products">נעליים</a>
    <a class="nav-link" routerLink="/shared/products">חדש</a>
    <a class="nav-link" routerLink="/shared/products">אקססוריז</a>
    <a class="nav-link" routerLink="/shared/products">NEW COLLECTION 2021</a>
    <a class="nav-link" routerLink="/shared/products">מותגים</a>
    <a class="nav-link" routerLink="/shared/products">SALE</a>
    <a class="nav-link" routerLink="/shared/products">50% off</a>
</nav>

<router-outlet></router-outlet>