body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // display: flex;
  // justify-content: center;
}

a {
  display: flex;
  justify-content: center;
}

nav {
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}