<a href="/">
    <img src="./assets/logo.png" alt="" height="120px">
</a>

<nav class="nav nav-tabs">
    <a class="nav-link" routerLink="/login">התחבר</a>
    <a class="nav-link" routerLink="/products">משחקים</a>
    <a class="nav-link" routerLink="/products">בגדים</a>
    <a class="nav-link" routerLink="/products">אקססוריז</a>
    <a class="nav-link" routerLink="/products">בית ספר</a>
    <a class="nav-link" routerLink="/products">נעליים</a>
    <a class="nav-link" routerLink="/products">חדש</a>
    <a class="nav-link" routerLink="/products">אקססוריז</a>
    <a class="nav-link" routerLink="/products">NEW COLLECTION 2021</a>
    <a class="nav-link" routerLink="/products">מותגים</a>
    <a class="nav-link" routerLink="/products">SALE</a>
    <a class="nav-link" routerLink="/products">50% off</a>
</nav>

<router-outlet></router-outlet>