<div class="card-body">
    <form [formGroup]="loginForm">
        <div class="form-group col-5">
            <input type="text" class="form-control" id="Username" name="Username" value="Username"
                formControlName="Username" placeholder="שם משתמש">
        </div><br>
        <div class="form-group col-5">
            <input type="password" class="form-control" id="Password" name="Password" value="Password"
                formControlName="Password" placeholder="סיסמה">
        </div>
        <br>
        <button class="btn btn-primary col-5" type="submit" (click)="onSubmit()">התחבר</button>
        <div style="font-size:smaller"> 
            אין לך חשבון?  
            <a routerLink="/loginUser">צור חשבון</a> 
        </div>
    </form>
</div>